a {
  color: green;
}
main{
        display: flex;
        display: flex: auto;
    }
body{
      colorï¼šblue;
       display: flex;
       flex-direction:column;
    }
 aside{
        flex: 1;
    }
article{
        flex: 3;
    }
.biaoti{
  height:800px;
  weight:800px
  flex-direction:center
}
.tupian{
   height:20px;
   weight:20px;
}
