a {
  color: green;
}
main{
        display: flex;
        display: flex: auto;
    }
body{
       display: flex;
       flex-direction:column;
    }
 aside{
        flex: 1;
    }
article{
        flex: 3;
    }
iframe{
    width：800px
    heigt：800px

}
