a {
  color: green;
}
    .main{
        display: flex: auto;
    }
    .body{
        flex-direction:column;
    }
    .aside{
        display: flex: 1;
    }
    .article{
        display:flex: 3;
    }
